body {
    font-family: Arial, sans-serif;
    background-color: #f2f6fc;
}

h2 {
    text-align: center;
    color: #2e5aac;
}

table {
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

td {
    padding: 8px;
}

input, select, textarea {
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #2e5aac;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


    h4 {
    color: rgb(120, 207, 245);
    margin-bottom: 8px;
    font-size: 15px;
}

